/* Adicione estilos conforme necessário */

.card {
    margin-right: 20px; /* Adicione uma margem para separar os cards */
    flex-basis: calc(33.33% - 20px); /* Calcula a largura de cada card para 33.33% menos a margem direita */
    box-sizing: border-box; /* Garante que a margem não aumente a largura total */
}

.navbar {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

/* Estilo para o contêiner principal dos cards */
#main-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha se não houver espaço suficiente */
}

/* Estilos para telas menores (como dispositivos móveis) */
@media (max-width: 767px) {
    .card {
        flex-basis: 100%; /* Cards ocupam 100% da largura em telas menores */
        margin-right: 0; /* Nenhuma margem à direita para cards em telas menores */
    }
}

/* Estilos para a barra de navegação em telas menores */
@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column; /* Itens da barra de navegação empilhados em telas menores */
    }
}

/* Estilos para cards em telas menores */
@media (max-width: 767px) {
    .card {
        margin-bottom: 10px; /* Adicione uma margem inferior para separar os cards em telas menores */
    }
}
