.background-image {
    background-image: url('assets/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card {
    margin-right: 20px;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box; 
    border: 9px solid white
}

.navbar {
    margin-bottom: 20px;
    font-size: large;
}

.custom-btn {
    padding: 10px 10px;
    background-color: #1c1e20; 
    color: #000; 
    border-radius: 10px;
    border: solid #1c1e20;
}

.logo {
    width: 5%;
}

footer {
    background-color: #0e07006c;
    padding: 10px 10px;
    font-size: large;
    color: white;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .card {
        flex-basis: 100%;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 10px;
    }
}
